<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
    <section id="addCardPage">
        <div class="sectionHeader">
            <h3>Add a Card</h3>
            <p>Please submit all required information</p>
        </div>
        <form action="/cards" method="POST" id="addCardForm">
            <label for="cardHolder"><i class="bi bi-file-person"></i>Card Holder</label>
            <select class="form-control" id="cardHolder" name="applicant">
                <option value="" disabled selected>Choose Cardholder</option>
                <% users.forEach(user => { %>
                <option value="<%= user.firstName %> <%= user.lastName %>"><%= user.firstName %>
                    <%= user.lastName %>
                </option>
                <% }); %>
                
            </select>
            <label for="issuer"><i class="bi bi-credit-card"></i>Card Issuer</label>
            <select class="form-control" id="issuer" name="issuer">
                <option value="" disabled selected>Choose Issuer</option>
                <option>Chase</option>
                <option>American Express</option>
                <option>BarclayCard</option>
                <option>CapitalOne</option>
                <option>Citi</option>
                <option>Discover</option>
                <option>Wells Fargo</option>
                <option>US Bank</option>
                <option>PNC</option>
            </select>
            <label for="cardName"><i class="bi bi-credit-card-2-front"></i>Card Name</label>
            <input type="text" class="form-control" id="cardName" name="cardName">
            <label for="appDate"><i class="bi bi-calendar-date"></i>App Date</label>
            <input type="date" class="form-control" id="appDate" name="appDate">
            <label for="creditPull"><i class="bi bi-shield-lock"></i>Credit Pull</label>
            <div id="creditPull">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="experian" name="experian">
                    <label class="form-check-label" for="experian">
                        Experian
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="equifax" name="equifax">
                    <label class="form-check-label" for="equifax">
                        Equifax
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="transunion" name="transunion">
                    <label class="form-check-label" for="transunion">
                        Transunion
                    </label>
                </div>
            </div>
            <label for="nextFeeDate"><i class="bi bi-calendar-date"></i>Next Fee Date</label>
            <input type="date" class="form-control" id="nextFeeDate" name="nextFeeDate">
            <label for="creditLine"><i class="bi bi-cash-stack"></i>Credit Line</label>
            <input type="text" class="form-control" id="creditLine" name="creditLine">
            <label for="bonusSpend"><i class="bi bi-cash"></i>Bonus Spend</label>
            <input type="text" class="form-control" id="bonusSpend" name="bonusSpend">
            <label for="bonusSpendDate"><i class="bi bi-calendar-date"></i>Spend Date</label>
            <input type="date" class="form-control" id="bonusSpendDate" name="bonusSpendDate">
            <label for="annualFee"><i class="bi bi-wallet2"></i>Annual Fee</label>
            <input type="text" class="form-control" id="annualFee" name="annualFee">
            <button id="newCardSubmitBtn" type="submit" class="btn btn-primary">Add Card</button>
        </form>
    </section>
</main>

<%- include('../partials/footer') %>