<%- include('../partials/header') %>


<h3><%= card.issuer %> <%= card.cardName %> </h3>
<section id="cardDetails">

    <div class="cardDisplayFields">
        <% let currentCardHolder = users.find(user => user._id.equals(card.applicant)); %>
        <% let fullName = `${currentCardHolder.firstName} ${currentCardHolder.lastName}`; %>
        <label>Card Holder: </label>
        <div><%= fullName %> </div>
    </div>
    <div class="cardDisplayFields">
        <label>Application Date:</label>
        <div><%= card.appDate.toLocaleDateString() %></div>
    </div>
    <div class="cardDisplayFields">
        <label>Credit Pull:</label>
        <div>
            <% card.creditPull.forEach((pull, idx) => { %>
            <%  let creditBureaus = ['Experian', 'Equifax', 'Transunion']%>
            <div><%= pull === null ? '' : creditBureaus[idx]; %> </div>
            <% }) %>
        </div>
    </div>
    <div class="cardDisplayFields">
        <label>Bonus Spend: </label>
        <div><%= card.bonusSpend %>
        </div>
    </div>
    <div class="cardDisplayFields">
        <label>Bonus Spend Date: </label>
        <div><%= card.bonusSpendDate.toLocaleDateString() %>
        </div>
    </div>
    <div class="cardDisplayFields">
        <label>Annual Fee: </label>
        <div><%= card.annualFee %>
        </div>
    </div>
    <div class="cardDisplayFields">
        <label>Add a note: </label>
        <form id="add-note-form" action="/cards/<%= card._id %>/notes/new" method="POST">
            <textarea name="note"></textarea>
            <!-- <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> -->
            <input type="submit" value="Add Note"/>
        </form>
    </div>
</section>

<section id="notes">
    <div>All Notes </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
            <% card.notes.forEach(note => { %> 
                <tr>
                    <td><%= note.createdAt.toLocaleDateString() %></td>
                    <td><%= note.note %> </td>
                </tr>
                <% }); %> 
        </tbody>
      </table>
</section>

<%- include('../partials/footer') %>