<%- include('../partials/header') %>


<h3><%= card.issuer %> <%= card.cardName %> </h3>
<section id="cardDetails">
    <div class="cardDisplayFields">
        <% let currentCardHolder = users.find(user => user._id.equals(card.applicant)); %>
        <% let fullName = `${currentCardHolder.firstName} ${currentCardHolder.lastName}`; %>
        <i class="bi bi-file-person-fill"></i>
        <label>Card Holder: </label>
        <input type="text" name="applicant" readonly value="<%= fullName %> "></input>
    </div>
    <div class="cardDisplayFields">
        <i class="bi bi-calendar-date-fill"></i>
        <label>Application Date:</label>
        <input type="text" name="appDate" readonly value="<%= card.appDate.toLocaleDateString() %> "></input>
    </div>
    <div class="cardDisplayFields">
        <label>Credit Pull:</label>
        <div>
            <% card.creditPull.forEach((pull, idx) => { %>
                <%  let creditBureaus = ['Experian', 'Equifax', 'Transunion']%>
                <div><%= pull === null ? '' : creditBureaus[idx]; %> </div>
                <% }) %>
            </div>
        </div>
        <div class="cardDisplayFields">
            <label>Bonus Spend: </label>
            <input type="text" name="bonusSpend" readonly value="<%= card.bonusSpend %> "></input>
        </div>
    </div>
    <div class="cardDisplayFields">
        <label>Bonus Spend Date: </label>
        <input type="text" name="bonusSpendDate" readonly value="<%= card.bonusSpendDate.toLocaleDateString() %> "></input>
    </div>
    <div class="cardDisplayFields">
        <label>Annual Fee: </label>
        <input type="text" name="annualFee" readonly value="<%= card.annualFee %> "></input>
    </div>
    <div class="cardDisplayFields accountStatusShow">
        <label>Account Status: </label>
        <input type="text" name="accountStatus" readonly value="<%= card.accountStatus %> "></input>
    </div>

    
    <div class="cardDisplayFields addNote">
        <label>Add a note: </label>
        <form id="add-note-form" action="/cards/<%= card._id %>/notes/new" method="POST">
            <textarea name="note"></textarea>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="cardDisplayFields accountStatusChange">
        <label>Account Status: </label>
        <select name="accountStatus">
            <option value="">Active</option>
            <option value="">Closed</option>
            <option value="">Downgraded</option>
        </select>
    </div>

    <!-- <div class="example">
        <form>
            <label for="ex1fld1">Field 1:</label><input type="text" name="ex1fld1" readonly value="Hello"></input>
            <label for="ex1fld2">Field 2:</label><input type="text" name="ex1fld2" readonly></input>
            <input type="button" value="Edit"></inpu>
        </form>
    </div> -->
</section>

<section id="notes">
    <div>All Notes </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <% card.notes.forEach(note => { %>
            <tr>
                <td><%= note.createdAt.toLocaleDateString() %></td>
                <td><%= note.note %> </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer') %>