<%- include('../partials/header') %>


<h3><%= card.issuer %> <%= card.cardName %> </h3>
<section>
    <!-- the following form doesnt post when making changes to card when button is clicked -->
    <form action="/cards/<%= card._id %>?_method=PUT" id="cardDetails" method="POST">
        <div class="cardDisplayFields form-group">
            <% let currentCardHolder = users.find(user => user._id.equals(card.applicant)); %>
            <% let fullName = `${currentCardHolder.firstName} ${currentCardHolder.lastName}`; %>
            <label><i class="bi bi-file-person-fill"></i>Card Holder: </label>
            <input type="text" name="applicant" readonly value="<%= fullName %> "></input>
        </div>
        <div class="cardDisplayFields">
            <label><i class="bi bi-calendar-date-fill"></i>Application Date:</label>
            <input type="text" name="appDate" readonly value="<%= card.appDate.toLocaleDateString() %> "></input>
        </div>
        <div class="cardDisplayFields">
            <label><i class="bi bi-file-person-fill"></i>Credit Pull:</label>
            <div>
                <% card.creditPull.forEach((pull, idx) => { %>
                <%  let creditBureaus = ['Experian', 'Equifax', 'Transunion']%>
                <div><%= pull === null ? '' : creditBureaus[idx]; %> </div>
                <% }) %>
            </div>
        </div>
        <div class="cardDisplayFields">
            <label><i class="bi bi-file-person-fill"></i>Bonus Spend: </label>
            <input type="text" name="bonusSpend" readonly value="<%= card.bonusSpend %> "></input>
        </div>
        </div>
        <div class="cardDisplayFields">
            <label><i class="bi bi-file-person-fill"></i>Bonus Spend Date: </label>
            <input type="text" name="bonusSpendDate" readonly
                value="<%= card.bonusSpendDate.toLocaleDateString() %> "></input>
        </div>
        <div class="cardDisplayFields">
            <label><i class="bi bi-file-person-fill"></i>Annual Fee: </label>
            <input type="text" name="annualFee" readonly value="<%= card.annualFee %> "></input>
        </div>
        <div class="cardDisplayFields accountStatusShow">
            <label><i class="bi bi-file-person-fill"></i>Account Status: </label>
            <input type="text" name="accountStatus" readonly value="<%= card.accountStatus %> "></input>
        </div>
        <div class="cardDisplayFields accountStatusChange">
            <label>Account Status: </label>
            <select name="accountStatus">
                <option value="">Active</option>
                <option value="">Closed</option>
                <option value="">Downgraded</option>
            </select>
        </div>
        <div class="cardDisplayFields addNote">
            <label><i class="bi bi-file-person-fill"></i>Add a note: </label>
            <form id="add-note-form" action="/cards/<%= card._id %>/notes/new" method="POST">
                <textarea name="note"></textarea>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <input type="submit" value="Edit Card" id="editCardButton"></input>
    </form>
</section>

<section id="notes">
    <div>All Notes </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <% card.notes.forEach(note => { %>
            <tr>
                <td><%= note.createdAt.toLocaleDateString() %></td>
                <td><%= note.note %> </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer') %>